.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.form_block {
    width: 500px;
    height: 700px;
    border-radius: 30px;
    padding: 40px;
    text-align: center;
    border: 1px solid rgb(36, 34, 58);
}

.form {
    margin-top: 200px;
}

.button {
    margin-top: 50px;
}
.password_input,
.registration_button {
    margin-top: 10px;
}
