.input,
.error {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(34, 39, 41);
    padding-left: 20px;
    border: 1px solid rgb(97, 97, 97);
    color: rgb(132, 144, 145);
}

.input::placeholder,
.error::placeholder {
    color: rgb(132, 144, 145);
}

.error {
    border: 1px solid rgb(255, 0, 0);
}
